<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corporate Actions</title>
</head>
<body>
    <h1>Enter the dates for corporate actions:</h1>
    <form action="/" method="post">
        <label for="from_date">From Date:</label>
        <input type="text" id="from_date" name="from_date"><br><br>
        <label for="to_date">To Date:</label>
        <input type="text" id="to_date" name="to_date"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
